/*----------------------------------------------Studio------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primery-white: #ffffff;
  --primery-black: #212121;
  --primery-blue: #2196f3;
  --primery-grey: #757575;
}

.body {
  font-family: Roboto;
  letter-spacing: 0.03em;
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-list,
.about-list {
  padding: 0px;
  display: flex;
  align-items: center;
}

.contacts-list {
  padding: 0px;
  display: flex;
  align-items: center;
  margin-left: 331px;
}

/*BUTTON*/
.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--primery-white);
  background-color: var(--primery-blue);
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.filter-botton {
  display: inline-block;

  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  color: var(--primery-black);
  background-color: #f5f4fa;
}

.filter-botton:hover,
.filter-botton:focus {
  color: var(--primery-white);
  background-color: var(--primery-blue);
}
/*---HEADER---*/

.main-header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  margin-right: 93px;
  padding: 24px 0px;
}

.logo-web {
  color: var(--primery-blue);
}

.navigation-list {
  margin: 0px;
}

.navigation-list-item:not(:last-child),
.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-item-link,
.contacts-list-item-link {
  display: block;
  padding: 32px 0;
}

.navigation-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primery-black);
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--primery-blue);
}

.navigation-list-item-link.current {
  color: var(--primery-blue);
}

.contacts-list-item {
}

.contacts-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primery-grey);
}
.contacts-list-item-link:hover,
.contacts-list-item-link:focus {
  color: var(--primery-blue);
}
/*---HEADER END---*/

/*HERO*/
.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  width: 700px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/*HERO END*/

/*ABOUT*/
.about,
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title {
  color: var(--primery-white);
}

.about-list {
}

.about-list-item {
  width: calc((100% - 3 * 30px) / 4);
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-item-title,
.about-list-item-discription {
  margin: 0 0;
  margin-bottom: 10px;
}

.about-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  color: var(--primery-black);
  text-transform: uppercase;
}

.about-list-item-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--primery-grey);
  margin-bottom: 0px;
}
/*ABOUT END*/

/*---WORKS---*/
.works {
  padding-top: 0px;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  color: var(--primery-black);
  padding-bottom: 0px;
  border: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
}

.works-list-item {
}
.works-list-item:not(:last-child) {
  margin-right: 30px;
}
/*---WORKS END---*/

/*---TEAM---*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--primery-black);
  margin: 0px;
  margin-bottom: 50px;
}

.team-list {
  margin: 0px;
  display: flex;
  margin-left: -30px;
  padding-bottom: 94px;
  padding-left: 0px;
}

.team-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  color: var(--primery-black);
}

.team-member-discriptin {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  color: var(--primery-grey);
}
/*---TEAM END---*/

/*---FOOTER---*/
.footer .container {
}

.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--primery-white);
  padding: 0;
}

.address {
  font-style: normal;
}

.address-discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--primery-white);
  margin: 0px;
  margin-top: 20px;
}

.address-list {
  margin-top: 10px;
  padding: 0px;
}

.address-list-item {
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
}
/*---FOOTER END---*/

/*----------------------------------------------STUDIO END------------------*/

/*-----------------------------------PORTFOLIO--------------------*/
.portfolio-header .container {
  display: flex;
  align-items: center;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

/*--PROJECTS--*/
.page-title {
  visibility: hidden;
  margin: 0px;
}
.filter-botoms .container {
}

.filter-botoms {
  display: flex;
  justify-items: center;
  margin: 0px;
  margin-top: 57px;
  margin-bottom: 50px;
  padding-left: 295px;
}
.filter-botoms :not(:last-child) {
  padding-right: 8px;
}

.discription {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  padding: 0px;
  margin-bottom: 94px;

  margin-left: -30px;
}

.projects-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  outline: 10px;
  border: 1px solid #eeeeee;
  max-width: 370px;
}

.card-thumb {
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin: 0px;
  color: var(--primery-black);
}

.projects-list-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--primery-grey);
  margin: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
}
